{% extends 'layout.twig' %}
{% block title %}Blog
{% endblock %}
{% block content %}
	<div>
		<div class="container-cards">
			<h2>Listes des articles</h2>
			<div class="container-posts">
				<a href="/blog/ajout-article" class="button">Ajouter un nouvel article</a>
				{% for post in posts %}
					<div class="card-post">
						<div class="card-header">
							<h2 class="title">{{ post.title }}</h2>
							<h4>{{ post.username }}</h4>
							<p>Le
								{{post.creationDate }}</p>
						</div>
						<div class="card-content">
							<p>{{ post.chapo }}</p>
							<a href="/blog/article/{{ post.id }}">Lire la suite</a>
						</div>
						<div class="card-action">
							<a href="/blog/modification-article/{{ post.id }}">Modifier</a>
							<a href="/blog/suppression-article/{{ post.id }}">Supprimer</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
