{% extends 'layout.twig' %}
{% block title %}Page d'article
{% endblock %}
{% block content %}
	<div class="container-posts">
		<div class="card-post">
			<div class="card-header">
				<h2>{{ post.title }}</h2>
				<h4>Créé par
					{{ post.username }}</h4>
				<p>{{ post.updateDate ? 'Modifié le' : 'Le'}}
					{{ post.updateDate ? post.updateDate : post.creationDate }}</p>
			</div>
			<div class="card-content">
				<p class="post-chapo">{{ post.chapo }}</p>
				{% if post.image %}
					<img src="/assets/posts/{{ post.image }}" alt={{ post.title }}>
				{% endif %}
				<p class="post-content">{{ post.content }}</p>
			</div>
			<div class="card-action">
				{% if session is defined and session.id is defined %}
					{% if session.role == 'ROLE_ADMIN' %}
						<a href="/blog/modification-article/{{ post.postId }}">Modifier</a>
						<a href="/blog/suppression-article/{{ post.postId }}">Supprimer</a>
					{% elseif session.id == post.userId %}
						<a href="/blog/modification-article/{{ post.postId }}">Modifier</a>
						<a href="/blog/suppression-article/{{ post.postId }}">Supprimer</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<h4>{{comment.content}}</h4>
		<div class="add-comments">
			{% if session is defined and session.id is defined %}
				<h4>Ajoutez un commentaire</h4>
				<form action="/blog/article/{{ post.postId }}/ajout-commentaire" method="post">
					<textarea name="content" id="content" required></textarea>
					<input class="" type="submit" value="Ajouter le commentaire"/>
				</form>
			{% endif %}
			{% if error %}
				<p class="error">{{ error }}</p>
			{% endif %}
		</div>
		<h3 class="title">Commentaires</h3>
		{% include 'comment.twig' %}
	</div>
{% endblock %}
