{% extends 'layout.twig' %}

{% block title %}Suppression de l'article
{% endblock %}
{% block content %}
	<div class="container-posts">
		<div class="title">
			<h2>Suppression de l'article</h2>
		</div>
		<div class="actions-single-post">
			<h3>Souhaitez-vous vraiment supprimer cet article ?</h3>
			<form action="/blog/suppression-article/{{ post.id }}" method="post">
				<input type="hidden" name="_METHOD" value="DELETE"/>
				<input class="button-form" value="Supprimer" type="submit"/>
			</form>
			{% if error %}
				<p class="error">{{ error }}</p>
			{% endif %}
			<a class="button-form" href="/blog">Revenir à la page de blog</a>
		</div>
		<div class="card-post">
			<div class="card-header">
				<h2 class="title">{{ post.title }}</h2>
				<h4>{{ post.username }}</h4>
				<p>{{ post.creation_date }}</p>
			</div>
			<div class="card-content">
				<p>{{ post.chapo }}</p>
				<p>{{ post.content }}</p>
			</div>
		</div>
	</div>
{% endblock %}
