{% extends 'layout.twig' %}
{% block title %}Page d'article
{% endblock %}
{% block content %}
	<div class="container-posts">
		<div class="card-post">
			<div class="card-header">
				<h2 class="title">{{ post.title }}</h2>
				<h4>{{ post.username }}</h4>
				<p>Le
					{{post.creationDate }}
					<em>
						({{ post.updateDate ? 'Modifié le' : 'Le' }}
						{{ post.updateDate ?? post.creationDate }})</em>
				</p>
			</div>
			<div class="card-content">
				<p>{{ post.chapo }}</p>
				<p>{{ post.content }}</p>
			</div>
			<div class="card-action">
				<a href="/blog/modification-article/{{ post.id }}">Modifier</a>
				<a href="/blog/suppression-article/{{ post.id }}">Supprimer</a>
			</div>
		</div>
		<div class="add-comments">
			<h4>Ajoutez un commentaire</h4>
			<form action="/" method="post">
				<textarea name="content" id="content" required></textarea>
			</form>
		</div>
		{% include 'comment.twig' %}
	</div>
{% endblock %}
