{% extends 'layout.twig' %}
{% block title %}Modification d'article
{% endblock %}
{% block content %}
	<div class="wrapper-inputs">
		<h2 class="title">Modification de l'article</h2>
		<form action="/blog/modification-article/{{ post.postId }}" method="post" enctype="multipart/form-data">
			<div class="input-container">
				<label for="title">Titre :</label>
				<input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" required>
			</div>
			<div class="input-container">
				<label for="chapo">Chapo :</label>
				<textarea class="form-control" id="chapo" name="chapo" required>{{ post.chapo }}</textarea>
			</div>
			<div class="input-container">
				<label for="content">Contenu :</label>
				<textarea class="form-control post-textarea" id="content" name="content" required>{{ post.content }}</textarea>
			</div>
			<div class="input-container">
				<input class="input-file form-control" type="file" name="file" id="file"/>
			</div>
			{% if error %}
				<p class="error">{{ error }}</p>
			{% endif %}
			<button class="btn btn-primary" type="submit">Modifier l'article</button>
		</form>
	</div>
{% endblock %}
